* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.logo {
  padding-left: 10px;
  width: 100px;
  display: inline;
}
.header-compo {
  display: flex;
  border: 1px solid black;
}
.nav-items {
  padding: 0 10px 0;
  /* width: auto; */
  align-items: end;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 40px 10px 0 0;
  font-size: large;
  cursor: pointer;
}
